body {
    background-color: #fafafa;
    color: #333;
    h1 {
        font-size: 5rem;
        display: flex;
        justify-content: center;
        user-select: none;
        transform: rotate(60deg);
    }
}